@font-face {
    font-family: figtree;
    src: url(fonts/Figtree[wght].woff2);
}

@font-face {
    font-family: figtree-italic;
    src: url(fonts/Figtree-Italic[wght].woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree';

}

body {
    background-color: var(--backgound);
    overscroll-behavior: contain;

    --mainColor:#17C979;
    --RGBmainColor:23,201,121;
    --secondColor:#2B3144;
    --backgound:#FFFFFF;
    --darkerBackground:#F4F5F9;
    --RGBdarkerBackground:244,245,249;
    --textColor:#7B8190;
    --gradientSecondColor:#03C093;
    --mainGradient:linear-gradient(90deg, var(--gradientSecondColor) 0%, var(--mainColor) 100%);
    --drawerDefaultHeight:50vh;
    --headerDefaultHeight:48px;
    --tileShadow:0 0 5px rgba(0,0,0,.4);
    --globalTileWidth: 64px;
    --buttonLineHeight: 18pt;
}




/*header*/


header{
    z-index: 24;
}
nav{
    width: 100%;
    background-color: var(--secondColor);
    display: flex;
    line-height: var(--headerDefaultHeight);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 64;
}

header::after{
    content: "";
    height: var(--headerDefaultHeight);
    /*border: solid red 1px;*/
    width:100%;
    display: block;

}



@keyframes logoAnimation {
    0%   { background-image: url("img/icons/logoAnimation/0001.png"); }
    7%   { background-image: url("img/icons/logoAnimation/0002.png"); }
    14%   { background-image: url("img/icons/logoAnimation/0003.png"); }
    21%   { background-image: url("img/icons/logoAnimation/0004.png"); }
    29%   { background-image: url("img/icons/logoAnimation/0005.png"); }
    36%   { background-image: url("img/icons/logoAnimation/0006.png"); }
    43%   { background-image: url("img/icons/logoAnimation/0007.png"); }
    50%   { background-image: url("img/icons/logoAnimation/0008.png"); }
    57%   { background-image: url("img/icons/logoAnimation/0009.png"); }
    64%   { background-image: url("img/icons/logoAnimation/0010.png"); }
    71%   { background-image: url("img/icons/logoAnimation/0011.png"); }
    79%   { background-image: url("img/icons/logoAnimation/0012.png"); }
    86%   { background-image: url("img/icons/logoAnimation/0013.png"); }
    93%   { background-image: url("img/icons/logoAnimation/0014.png"); }
    100%   { background-image: url("img/icons/logoAnimation/0015.png"); }
}

#openBurger{
    width: 32px;
    height: 32px;
    margin-left: 8px;
    position: relative;

    --animDuration:.2s;
}

#openBurger:after, #openBurger:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: var(--secondColor);
    pointer-events: none;
    transition-delay: var(--animDuration);
}

#sideNavBox:not(:checked)~nav #openBurger:before{
    background-image: url("img/icons/logoAnimation/0015.png");
    opacity:1;
}


#sideNavBox:not(:checked)~nav #openBurger:after{
    background-image: url("img/icons/logoAnimation/0001.png");
    opacity:0;
    animation: logoAnimation var(--animDuration);
}

#sideNavBox:checked~nav #openBurger:before{
    opacity: 0;
    background-image: url("img/icons/logoAnimation/0015.png");
    animation: logoAnimation var(--animDuration) reverse;
}

#sideNavBox:checked~nav #openBurger:after{
    opacity: 1;

    background-image: url("img/icons/logoAnimation/0001.png");
}

#sideNavBox:checked~nav #openBurger{
    pointer-events: none;
}




.textLogo{
    font-size: 18pt;
    margin-left: 16px;
}

.textLogo span:first-child
{
    color: var(--backgound);
    font-weight: 300;
}

.textLogo span:last-child{
    color:var(--mainColor);
    font-weight: 700;
}



/*-------------- menu de navigation --------------*/


#sideNavBox{
    display: none;
}


#sideNavBox:checked~#sideNav{
    display: block;
    pointer-events: auto;
}

#sideNavBox:checked~#sideNav>#sideNavMenu{
   transform: none;
}



#sideNavBox:checked~#sideNav #sideNavOverlay{
    opacity: 1;
}




#sideNav{
    position: fixed;
    /*display: none;*/
    left: 0;
    top: var(--headerDefaultHeight);
    width: 100%;
    height: calc(100% - var(--headerDefaultHeight));
    z-index: 1;
    pointer-events: none;
    --transitionDuration:.2s ease-out;
    z-index: 128;

}


#sideNavMenu{
    position: fixed;
    top: var(--headerDefaultHeight);
    left: 0;
    max-width: 90%;
    height: calc(100% - var(--headerDefaultHeight));
    background-color: var(--darkerBackground);
    box-shadow: 4px 0 8px rgba(0,0,0,.4);
    transform: translateX(-110%);
    transition:var(--transitionDuration);

    --menuFontSize:16pt;
    font-size: var(--menuFontSize);
    color: var(--textColor);
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#sideNavOverlay{
    position: fixed;
    top: var(--headerDefaultHeight);
    left: 0;
    width: 100%;
    height: calc(100% - var(--headerDefaultHeight));
    background-color: rgba(43, 49, 68, 0.5);
    opacity: 0;
    transition:var(--transitionDuration);
    backdrop-filter: blur(4px);


}


#sideNavMenu label{
    line-height: var(--menuFontSize);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 64px;
    color: var(--secondColor);

}

#sideNavMenu label span:last-child{
    font-size: 24pt;
    font-weight: 100;
    line-height: var(--menuFontSize);
    margin-left: 8px;
}

#sideNavMenu ul{
    list-style: none;
    --lineHeight: 32px;
    height: 100%;
}

#sideNavMenu ul li{
    margin-bottom: 16px;
}


#sideNavMenu ul li img{
    width: var(--lineHeight);
    margin-right: 16px;
}

#sideNavMenu ul li a{
    display: flex;
    align-items: center;
    justify-content: left;

    text-decoration: none;
    color: var(--secondColor);
    font-weight: 400;
    cursor: pointer;
}

#sideNavMenu ul li a.activeLink{
    font-weight: 700;
}

#sideNavMenu ul li a.activeLink:hover{
    text-decoration: none;
    font-weight: 700;
}

#sideNavMenu ul li a:hover{
    text-decoration: underline;
    color: var(--secondColor);
    font-weight: 500;
}


#sideNavMenuBottomInfo{
    color: var(--textColor);
    font-size: 12pt;
    text-decoration: none;
    text-align: center;
}

#sideNavMenuBottomInfo:hover{
    text-decoration: underline;
}







/*---------------------- calculator.html ------------------------*/


/*liste des tuiles*/

#hand{
    width: 100%;
    height: calc(100vh - var(--headerDefaultHeight) - var(--drawerDefaultHeight));
    overflow-y: scroll;

    --tileWidth: min(calc((100vw - 48px) / 5.5), var(--globalTileWidth));
}


.lineHand{
    display: flex;
    margin: 32px;
    margin-right: 16px;
}


.lineHand div{
    max-width: 280px;
    max-height: 370px;
    border-radius: calc(.16 * var(--tileWidth));
    width: var(--tileWidth);
    height: calc(37 / 28 * var(--tileWidth));

    margin-right: calc(var(--tileWidth) / 4);
    box-shadow: var(--tileShadow);

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lineHand div img{
    width: calc(var(--tileWidth) / 2.4);
    pointer-events: none;
}


.lineHand div.tile{
    background-size: cover;
    background-position: center;
}

.lineHand div.emptyTile{
    background-color: var(--darkerBackground);
    border: dashed var(--secondColor) calc(var(--tileWidth) / 32);
}




@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
.lineHand div.activeEmptyTile{
    background-color: var(--darkerBackground);
    border: dashed var(--secondColor) calc(var(--tileWidth) / 32);
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}


.boxContainer{
    display: flex;
    position: relative;
    align-items: center;
}
.boxContainer input{

    display: none;

}

.boxContainer span {
    content: "";
    height: calc(var(--tileWidth) / 2);
    width: calc(var(--tileWidth) / 2);
    background-size: cover;
    background-position: center;
}

.checkmarkChecked {
    background-image: url("img/icons/eyeClosed.svg"); /* Chemin vers l'icône cochée */
    display: none;
}
.checkmarkUnchecked {
    background-image: url("img/icons/eyeOpened.svg"); /* Chemin vers l'icône non cochée */
    display: block;
}

.boxContainer input:checked ~ .checkmarkChecked {
    display: block;
}

.boxContainer input:checked ~ .checkmarkUnchecked {
    display: none;
}





/* tiroir d'ajout des tuiles*/
#drawer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--darkerBackground);
    height: var(--drawerDefaultHeight);
    box-shadow: 0 -2px 8px rgba(0,0,0,.4);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}


#drawer div{
    width: 100%;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    /*border: solid red 1px;*/
}


#drawerHandle{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#drawerHandle div{
    padding: 0;
    margin:4px;

    width: 80px;
    height: 4px;
    background-color: var(--secondColor);
    border-radius:4px;

}


#drawerHeader{
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    font-weight: 400;
}


#drawerHeader #drawerActionIcons{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding: 0;
    justify-content: right;
}

#drawerHeader #drawerActionIcons input{
    display: none;

}


#drawerHeader #drawerActionIcons label{
    width: fit-content;
    margin-left: 16px;

}

#drawerHeader #drawerActionIcons label img{
    height: 24px;
    margin: 0;

}





.drawerButton{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    background-color: var(--darkerBackground);
    width: 100%;


}

.drawerButton div{
    background-color: var(--mainColor);
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16pt;
    line-height: 16pt;
    font-weight: 500;
    color: var(--backgound);
    padding:0;
    cursor: pointer;
}

#drawerTileList{
    overflow-y: scroll;
    padding: 16px;
    align-content: start;
    --tileWidth: min(calc((100vw - 48px) / 5.5), var(--globalTileWidth));


    display: grid;
    grid-template-columns: repeat(auto-fill, var(--tileWidth));
    grid-gap: calc(var(--tileWidth) / 4);
    justify-content: space-between;

}

#drawerTileList:after {
    content: "";
    flex: auto;
}


#drawerTileList div{
    max-width: 280px;
    max-height: 370px;
    border-radius: calc(.16 * var(--tileWidth));
    width: var(--tileWidth);
    height: calc(37 / 28 * var(--tileWidth));

    box-shadow: 0 0 5px rgba(0,0,0,.4);
    cursor: pointer;

    background-size: cover;
    background-position: center;
}




/* animation de chargement */

.popUp{
    position: absolute;
    top: var(--headerDefaultHeight);
    left: 0;
    width: 100%;
    height: calc(100% - var(--headerDefaultHeight));
    background-color: var(--darkerBackground);
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.popUp h2{
    font-weight: 600;
}

.popUp p{
    color: var(--textColor)
}

.popUp .videoContainer{
    width: 100%;
    position: relative;
    --overlayFading: 16%;
    --overlayColor: var(--RGBdarkerBackground);
}

.popUp video{
    /*border: solid red 2px;*/
    width: 100%;
    max-width: 480px;
    pointer-events: none;
}




.popUp .videoOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: rgba(var(--rgbMainColor),0.5);*/
    background: linear-gradient(0deg, rgba(var(--overlayColor),1) 0%, rgba(var(--overlayColor),0) var(--overlayFading), rgba(var(--overlayColor),0) calc(100% - var(--overlayFading)), rgba(var(--overlayColor),1) 100%);
    opacity: 1;
}



/*------------------------ gameSettings.html ------------------------*/


h1{
    font-size: 18pt;
    color: var(--textColor);
    text-align: center;
    margin: 8px;
}

h2{
    font-size: 16pt;
    color: var(--secondColor);
}

h3{
    color: var(--textColor);
    font-weight: 500;
    margin-top: 12px;
}



main.settings{
    --checkedColor: var(--mainColor);
    --tileWidth: min(calc((100vw - 32px) / 5), var(--globalTileWidth));
}

main.settings>div:first-child{
    overflow-y: scroll;
    /*background-color: #4DC69A;*/
    height: calc(100vh - var(--headerDefaultHeight));
}

main.settings section{
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 16px;
    margin-bottom: 32px;
}


#playerBonus{
    margin-bottom: 64px;
}

main.settings section div{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

main.settings input{
    display: none;
}

main.settings label{
    width: var(--tileWidth);

}

main.settings label img{
    width: 100%;
    box-shadow: var(--tileShadow);
    border-radius: calc(.16 * var(--tileWidth));;

}
main.settings label h3{
    text-align: center;
    color: var(--textColor);
    font-weight: 400;
    margin: 0;
}



main.settings input:checked + label h3{
    color: var(--checkedColor);
    font-weight: 700;
}

main.settings input:checked + label img{
    outline: solid 3px var(--checkedColor);

}



.settings .drawerButton{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    background-color: var(--darkerBackground);
    width: 100%;
    padding: 8px 16px;

}


#settingsBackButton{
    width: fit-content;
    padding: 0 7px;
    margin-right: 8px;
    color: var(--mainColor);
    background-color: var(--backgound);
    border: solid var(--mainColor) 3px;
    font-weight: 500;
    font-size: 20pt;
    line-height: 23pt;
}

.settings .drawerButton div{
    background-color: var(--mainColor);
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16pt;
    line-height: 16pt;
    font-weight: 500;
    color: var(--backgound);
    padding:8px;
}







/*------------------------- about.html --------------------------*/

main.about section.logo{
    background-color: var(--secondColor);
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main.about section.logo img{
    width: 24vw;
    margin-right: 4vw;
}

main.about section.logo div.textLogo{
    font-size: 6vw;
    margin: 0;
}


main.about section.content{
    margin: 0;
    padding: 32px;
}


main.about h1{
    text-align: left;
    color: var(--secondColor);
    margin: 0;
    margin-bottom: 8px;
    font-size: 28px;
}

main.about p{
    font-size: 18px;
    text-align: justify;
    color: var(--textColor);
}

main.about h2{
    text-align: left;
    color: var(--secondColor);
    margin: 48px 0 8px;
    font-size: 24px;
}

main.about h3{
    text-align: left;
    color: var(--secondColor);
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}


.aboutInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: calc(2 * var(--separatorPadding));
    font-size: 18px;
    position: relative;
    --separatorPadding: 32px
}


.aboutInfo::before{
    content: "";
    position: absolute;
    top: calc(0px - var(--separatorPadding));
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--textColor);
}

.aboutInfo h3{
    width: fit-content;
}

.aboutInfo>div{
    padding-left: 32px;
    /*border: solid red 1px;*/
    color: var(--textColor);
}

.aboutInfo a{
    color: var(--textColor);
}






/*-------------------------- index.html --------------------------*/


#indexCoverSection{
    height: calc(100vh - var(--headerDefaultHeight));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14pt;
    color: var(--backgound);
    background-image: url("img/indexBackgroundCover.png");
    background-size: cover;
    background-position: 0%,50%;
    font-weight: 300;
    position: relative;
}

#indexCoverSection:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondColor);
    opacity: .64;
    z-index: 0;
}

#indexCoverSection>div{
    z-index: 1;
}


#indexCoverSection>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index h1{
    color: var(--backgound);
    font-size: min(6vw, 24pt);
    font-weight: 400;
    width: 64%;
    margin-bottom: 32px;
}

.index h1 span{
    background: var(--mainGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}


#indexCoverButton{
    background: var(--mainGradient);
    padding: 8px 16px;
    width: fit-content;
    border-radius: 32px;
    color: var(--backgound);
    font-size: 14pt;
    text-decoration: none;
    font-weight: 400;
}