@font-face {
    font-family: figtree;
    src: url(fonts/Figtree[wght].woff2);
}

@font-face {
    font-family: figtree-italic;
    src: url(fonts/Figtree-Italic[wght].woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree';
    --mainColor:#17C979;
    --RGBmainColor:23,201,121;
    --secondColor:#2B3144;
    --backgound:#FFFFFF;
    --darkerBackground:#F4F5F9;
    --RGBdarkerBackground:244,245,249;
    --textColor:#7B8190;
    --drawerDefaultHeight:50vh;
    --headerDefaultHeight:48px;
    --tileShadow:0 0 5px rgba(0,0,0,.4);
    --buttonLineHeight: 18pt;
}

body {
    background-color: var(--backgound);
    overscroll-behavior: contain;
    /*transform: rotate(45deg);*/
}



/* Side nav */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




/* ------------- page index --------------- */

/* header */





#nav_GD{
    background-color:var(--secondColor);
    width: 15Vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#cote {
    font-size:30px;
    cursor:pointer;
}

#nav_M{
    background-color:var(--secondColor);
    width: 85Vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: white;
}

/* image de fond */

#fond_image{
    width: 100VW;
    height: 400px;
    background-image: url("img/fond.avif");
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--backgound);
    font-size: 8vW;
}

#fond_image span {
    color: var(--mainColor);
}


/* --------------- page calcul -------------*/


/*header*/
nav{
    width: 100%;
    background-color: var(--secondColor);
    display: flex;
    line-height: var(--headerDefaultHeight);
    position: fixed;
    top: 0;
    left: 0;
}

header::after{
    content: "";
    height: var(--headerDefaultHeight);
    /*border: solid red 1px;*/
    width:100%;
    display: block;

}



#openBurger{
    font-size: 32px;
    cursor: pointer;
    color: var(--backgound);
    margin-left: 8px;
}

.textLogo{
    font-size: 18pt;
    margin-left: 16px;
}

.textLogo span:first-child
{
    color: var(--backgound);
    font-weight: 300;
}

.textLogo span:last-child{
    color:var(--mainColor);
    font-weight: 700;
}




/*liste des tuiles*/

#hand{
    width: 100%;
    height: calc(100vh - var(--headerDefaultHeight) - var(--drawerDefaultHeight));
    overflow-y: scroll;
    --tileWidth: 64px;
}


.lineHand{
    display: flex;
    margin: 32px;

}


.lineHand div{
    max-width: 280px;
    max-height: 370px;
    border-radius: calc(.16 * var(--tileWidth));
    width: var(--tileWidth);
    line-height: calc(37 / 28 * var(--tileWidth));
    height: calc(37 / 28 * var(--tileWidth));
    font-size: 64px;
    color: var(--mainColor);

    margin-right: 16px;
    box-shadow: var(--tileShadow);
    text-align: center;
    cursor: pointer;

}

.lineHand div.tile{
    background-size: cover;
    background-position: center;
    background-image: url("img/tiles/bamboo_1.png");
}

.lineHand div.emptyTile{
    background-color: var(--darkerBackground);
    border: dashed var(--secondColor) 2px;
}




@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
.lineHand div.activeEmptyTile{
    background-color: var(--darkerBackground);
    border: dashed var(--secondColor) 2px;
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}


.boxContainer{
    display: flex;
    position: relative;
    align-items: center;
}
.boxContainer input{

    display: none;

}

.boxContainer span {
    content: "";
    height: 32px; /* Ajustez selon la taille de l'icône */
    width: 32px; /* Ajustez selon la taille de l'icône */
    border: 1px solid #ccc; /* Bordure de la case à cocher */
    background-size: cover;
    background-position: center;
    border: none;
}

.checkmarkChecked {
    background-image: url("img/icons/eyeClosed.svg"); /* Chemin vers l'icône cochée */
    display: none;
}
.checkmarkUnchecked {
    background-image: url("img/icons/eyeOpened.svg"); /* Chemin vers l'icône non cochée */
    display: block;
}

.boxContainer input:checked ~ .checkmarkChecked {
    display: block;
}

.boxContainer input:checked ~ .checkmarkUnchecked {
    display: none;
}





/* tiroir d'ajout des tuiles*/
#drawer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--darkerBackground);
    height: var(--drawerDefaultHeight);
    box-shadow: 0 -2px 8px rgba(0,0,0,.4);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}


#drawer div{
    width: 100%;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    /*border: solid red 1px;*/
}


#drawerHandle{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#drawerHandle div{
    padding: 0;
    margin:4px;

    width: 80px;
    height: 4px;
    background-color: var(--secondColor);
    border-radius:4px;

}


#drawerHeader{
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    font-weight: 400;
}


#drawerHeader #drawerActionIcons{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding: 0;
    justify-content: right;
}

#drawerHeader #drawerActionIcons input{
    display: none;

}


#drawerHeader #drawerActionIcons label{
    width: fit-content;
    margin-left: 16px;

}

#drawerHeader #drawerActionIcons label img{
    height: 24px;
    margin: 0;

}





.drawerButton{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    background-color: var(--darkerBackground);
    width: 100%;


}

.drawerButton div{
    background-color: var(--mainColor);
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16pt;
    line-height: 16pt;
    font-weight: 500;
    color: var(--backgound);
    padding:0;
    cursor: pointer;
}

#drawerTileList{
    overflow-y: scroll;
    padding: 16px;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
    /*!*align-items: start;*!*/
    align-content: start;
    --tileWidth: 64px;


    display: grid;
    grid-template-columns: repeat(auto-fill, var(--tileWidth));
    grid-gap: calc(var(--tileWidth) / 4);
    justify-content: space-between;

}

#drawerTileList:after {
    content: "";
    flex: auto;
}


#drawerTileList div{
    max-width: 280px;
    max-height: 370px;
    border-radius: calc(.16 * var(--tileWidth));
    width: var(--tileWidth);
    line-height: calc(37 / 28 * var(--tileWidth));
    height: calc(37 / 28 * var(--tileWidth));
    font-size: 64px;
    color: var(--mainColor);

    margin-right: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    text-align: center;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-image: url("img/tiles/bamboo_1.png");

}




/* animation de chargement */

.popUp{
    position: absolute;
    top: var(--headerDefaultHeight);
    left: 0;
    width: 100%;
    height: calc(100% - var(--headerDefaultHeight));
    background-color: var(--darkerBackground);
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.popUp h2{
    font-weight: 600;
}

.popUp p{
    color: var(--textColor)
}

.popUp .videoContainer{
    width: 100%;
    position: relative;
    --overlayFading: 16%;
    --overlayColor: var(--RGBdarkerBackground);
}

.popUp video{
    /*border: solid red 2px;*/
    width: 100%;
    max-width: 480px;
    pointer-events: none;
}




.popUp .videoOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: rgba(var(--rgbMainColor),0.5);*/
    background: linear-gradient(0deg, rgba(var(--overlayColor),1) 0%, rgba(var(--overlayColor),0) var(--overlayFading), rgba(var(--overlayColor),0) calc(100% - var(--overlayFading)), rgba(var(--overlayColor),1) 100%);
    opacity: 1;
}



/*------------------------Game settings------------------------*/


h1{
    font-size: 18pt;
    color: var(--textColor);
    text-align: center;
    margin: 8px;
}

h2{
    font-size: 16pt;
    color: var(--secondColor);
}

h3{
    color: var(--textColor);
    font-weight: 500;
    margin-top: 12px;
}



main.settings{
    --checkedColor: var(--mainColor);
    --tileWidth: 64px;
}

main.settings>div:first-child{
    overflow-y: scroll;
    /*background-color: #4DC69A;*/
    height: calc(100vh - var(--headerDefaultHeight));
}

main.settings section{
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 16px;
    margin-bottom: 32px;
    /*border: solid red 1px;*/

}


main.settings div section:last-child{
 /*border: solid blue 2px;*/
    margin-bottom: 64px;


}

main.settings section div{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

main.settings input{
    display: none;
}

main.settings label{
    /*border: solid blue 1px;*/
    width: var(--tileWidth);

}

main.settings label img{
    width: 100%;
    box-shadow: var(--tileShadow);
    border-radius: 8px;
}
main.settings label h3{
    text-align: center;
    color: var(--textColor);
    font-weight: 400;
    margin: 0;
}



main.settings input:checked + label h3{
    color: var(--checkedColor);
    font-weight: 700;
}

main.settings input:checked + label img{
    outline: solid 3px var(--checkedColor);

}



.settings .drawerButton{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    background-color: var(--darkerBackground);
    width: 100%;
    padding: 8px 16px;

}


#settingsBackButton{
    width: fit-content;
    padding: 0 7px;
    margin-right: 8px;
    color: var(--mainColor);
    background-color: var(--backgound);
    border: solid var(--mainColor) 3px;
    font-weight: 500;
    font-size: 20pt;
    line-height: 23pt;
}

.settings .drawerButton div{
    background-color: var(--mainColor);
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16pt;
    line-height: 16pt;
    font-weight: 500;
    color: var(--backgound);
    padding:8px;
}





















#fond_blanc{
    background-color: white;
    width: 100vW;
}

.barre_long{
    display: flex;
}

.forme_rectangle {
    margin-right: 6Vw;
    width: 50px;
    height: 65px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #4DC69A;
    border-radius: 10px;
    border: dashed black;
}

#barre_long{
    margin-top: 15px;
    padding-left: 10Vw;
    display: flex;
    align-items: center;
    height: 100px;
}

#fond_blanc hr {
    color: #333;
    text-align: center;
    margin-left: 10Vw;
    margin-right: 10Vw;
}


/* page qui slide vers le haut */

#slide {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #DCDCDC;
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 200px;
}


#slide hr {
    width: 130px;
    margin-bottom: 20px;
    background-color: black;
}

#slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #4DC69A;
    width: 80Vw;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}


/* ---------------- page photo --------------- */



#photo-haut{
    width: 100Vw;
    height: 10Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#camera {
    width: 100Vw;
    height: 60Vh;
}


#photo-haut a {
    text-decoration: none;
    color: black;
    font-size: 4Vw;
    margin-right: 10Vw;
    margin-left: auto;
    margin-right: auto;
}



#photo-haut a hr{
    margin-left: 6Vw;
    background-color: #4DC69A;
    height: 1.5px;
}

#div-bas {
    width: 100Vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div-bas p {
    margin-top: 20px;
    font-size: 3.5Vw;
}

#div-long {
    width: 100Vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bouton {
    width: 15Vh;
    height: 13Vh;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-bas {
    position: absolute;
    left: 30px;
}


#file-bas img {
    width: 6Vh;
    height: 5Vh;
}