@font-face {
    font-family: figtree;
    src: url(fonts/Figtree[wght].woff2);
}

@font-face {
    font-family: figtree-italic;
    src: url(fonts/Figtree-Italic[wght].woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree';
    --mainColor:#17C979;
    --secondColor:#2B3144;
    --backgound:#FFFFFF;
    --darkerBackground:#F4F5F9;
    --textColor:#7B8190;
    --drawerDefaultHeight:50vh;
    --headerDefaultHeight:48px;
    /*--tileShadow:*/
}

body {
    background-color: var(--backgound);
}



/* Side nav */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




/* ------------- page index --------------- */

/* header */





#nav_GD{
    background-color:var(--secondColor);
    width: 15Vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#cote {
    font-size:30px;
    cursor:pointer;
}

#nav_M{
    background-color:var(--secondColor);
    width: 85Vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: white;
}

/* image de fond */

#fond_image{
    width: 100VW;
    height: 400px;
    background-image: url("img/fond.avif");
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--backgound);
    font-size: 8vW;
}

#fond_image span {
    color: var(--mainColor);
}


/* --------------- page calcul -------------*/

nav{
    width: 100%;
    background-color: var(--secondColor);
    display: flex;
    line-height: var(--headerDefaultHeight);
}

#openBurger{
    font-size: 32px;
    cursor: pointer;
    color: var(--backgound);
    margin-left: 8px;
}

.textLogo{
    font-size: 18pt;
    margin-left: 16px;
}

.textLogo span:first-child
{
    color: var(--backgound);
    font-weight: 300;
}

.textLogo span:last-child{
    color:var(--mainColor);
    font-weight: 700;
}


#hand{
    width: 100%;
    height: calc(100vh - var(--headerDefaultHeight) - var(--drawerDefaultHeight));
    overflow-y: scroll;
    --tileWidth: 64px;
}


.lineHand{
    display: flex;
    margin: 32px;

}


.lineHand div{
    max-width: 280px;
    max-height: 370px;
    border-radius: calc(.16 * var(--tileWidth));
    width: var(--tileWidth);
    line-height: calc(37 / 28 * var(--tileWidth));
    height: calc(37 / 28 * var(--tileWidth));
    font-size: 64px;
    color: var(--mainColor);

    margin-right: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    text-align: center;
    cursor: pointer;

}

.lineHand div.tile{
    background-size: cover;
    background-position: center;
    background-image: url("img/tiles/bamboo_1.png");
}

.lineHand div.emptyTile{
    background-color: var(--darkerBackground);
    border: dashed var(--secondColor) 2px;
}



#drawer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--darkerBackground);
    height: var(--drawerDefaultHeight);
    box-shadow: 0 -2px 8px rgba(0,0,0,.4);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}


#drawer div{
    width: 100%;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    /*border: solid red 1px;*/
}


#drawerHandle{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#drawerHandle div{
    padding: 0;
    margin:4px;

    width: 80px;
    height: 4px;
    background-color: var(--secondColor);
    border-radius:4px;

}


#drawerHeader{
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    font-weight: 400;
}


#drawerHeader #drawerActionIcons{
    width: fit-content;
    margin: 0;
    padding: 0;
    justify-content: right;
}

#drawerHeader #drawerActionIcons a{
    width: fit-content;
    margin-left: 16px;

}

#drawerHeader #drawerActionIcons a img{
    height: 24px;
    margin: 0;

}





#drawerValidateButton{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    background-color: var(--darkerBackground);
    width: 100%;

}

#drawerValidateButton a{
    background-color: var(--mainColor);
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16pt;
    line-height: 24pt;
    font-weight: 500;
    color: var(--backgound);
}

#drawerTileList{
    overflow-y: scroll;
    padding: 16px;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
    /*!*align-items: start;*!*/
    align-content: start;
    --tileWidth: 64px;


    display: grid;
    grid-template-columns: repeat(auto-fill, var(--tileWidth));
    grid-gap: calc(var(--tileWidth) / 4);
    justify-content: space-between;

}

#drawerTileList:after {
    content: "";
    flex: auto;
}


#drawerTileList div{
    max-width: 280px;
    max-height: 370px;
    border-radius: calc(.16 * var(--tileWidth));
    width: var(--tileWidth);
    line-height: calc(37 / 28 * var(--tileWidth));
    height: calc(37 / 28 * var(--tileWidth));
    font-size: 64px;
    color: var(--mainColor);

    margin-right: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    text-align: center;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-image: url("img/tiles/bamboo_1.png");

}


















#fond_blanc{
    background-color: white;
    width: 100vW;
}

.barre_long{
    display: flex;
}

.forme_rectangle {
    margin-right: 6Vw;
    width: 50px;
    height: 65px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #4DC69A;
    border-radius: 10px;
    border: dashed black;
}

#barre_long{
    margin-top: 15px;
    padding-left: 10Vw;
    display: flex;
    align-items: center;
    height: 100px;
}

#fond_blanc hr {
    color: #333;
    text-align: center;
    margin-left: 10Vw;
    margin-right: 10Vw;
}


/* page qui slide vers le haut */

#slide {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #DCDCDC;
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 200px;
}


#slide hr {
    width: 130px;
    margin-bottom: 20px;
    background-color: black;
}

#slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #4DC69A;
    width: 80Vw;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}


/* ---------------- page photo --------------- */



#photo-haut{
    width: 100Vw;
    height: 10Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#camera {
    width: 100Vw;
    height: 60Vh;
}


#photo-haut a {
    text-decoration: none;
    color: black;
    font-size: 4Vw;
    margin-right: 10Vw;
    margin-left: auto;
    margin-right: auto;
}



#photo-haut a hr{
    margin-left: 6Vw;
    background-color: #4DC69A;
    height: 1.5px;
}



#div-bas {
    width: 100Vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div-bas p {
    margin-top: 20px;
    font-size: 3.5Vw;
}

#div-long {
    width: 100Vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bouton {
    width: 15Vh;
    height: 13Vh;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-bas {
    position: absolute;
    left: 30px;
}


#file-bas img {
    width: 6Vh;
    height: 5Vh;
}

/* video */

#camera{
    overflow: hidden;
    transform: translatez(0);
}

#camera video{
    transform: translatez(0);
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;

    margin: auto;

    min-width: 100%;
    min-height: 100%;
}


/* --------------- page score ----------------- */

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50Vw;
}

#total {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50Vw;
}

#score-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5Vh;
}

#score-center hr {
    position: absolute;
    width: 75Vw;
    height: 1px;
    background-color: black;
    margin-top: 8Vh;
}

#total p {
    font-size: 7Vw;
}

#score p {
    font-size: 11Vw;
}

#detail {
    margin-top: 4Vh;
    font-size: 4Vw;
    padding-left: 10Vw;
}

#score span {
    margin-top: 6Vw;
    font-size: 4Vw;
}

#petit-score {
    position: absolute;
    right: 10Vw;
    margin-bottom: 5Vh;
    color: #4DC69A;
}